.PlantsList {
    margin: auto;
    width: 100%;
    border-width: 5px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.AddPlant {
    text-align: center;
    margin: auto;
    width: 50%; 
}