.PlantsList {
    margin: auto;
    width: 100%;
    border-width: 5px;
    padding: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.AddPlant {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px;
    background-color: white;
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input {
    margin-top: 50px;
    height: 40px;
}

.plusSign {
    width: 25%;
    margin: auto
}