.PlantBox {
    color: white;
    margin: 20px;
    /* border: 1px solid blue; */
    background-color: rgb(110, 185, 104);
    padding: 10px;
    justify-content: space-between;
    width: 20%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.PlantInfo {
    display: flex;
    flex-flow: row;
}

.plantName {
    font-family: sans-serif;
    font-size: 24px;

}

.option {
    height: 30px;
    margin-left: auto;
    margin-right: 0;
    width: 5px;
}

.UpdateWaterDateButton {
    padding: 1px;
    background-color: rgb(127, 246, 255);
}